################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/workplace/bin/Debug/staging/workplace
.vs/workplace/v16
.vs
*.zip
workplace/obj
